<main>
    <header>
        <h1>Des nouvelles recettes chaque semaine !</h1>
        <p>Vous surprendre grâce à nos recettes simples, rapides, et bien sûr, pour tous les budgets.</p>
    </header>
    <section>
        <h2>Liste de nos recettes en tout genre</h2>
        <p>Affichage de <%= article.length %> recettes </p>
        <% for( const a of article ) { %>
            <article>
                <h3>
                    <%= a.title %>
                </h3>
                    <img src="<%= a.url %>" alt="<%= a.pictureTitle %>">
                    <a href="/recipe/:<%= a.id %>">Lire la suite</a>
    
            </article>            
            <% } %>
            
        </section>

        <!-- <aside>
            <section>
                <h4>Catégories</h4>
                <ul>
                    <%# for( const category of categories ) { %>
                    <li>: <%#= category.title %></li>
                    <%# } %>
                </ul>

            </section>
        </aside> -->
</main>