<main>
    <section>
        <h2>Liste de nos recettes en tout genre</h2>
        <p>Affichage de <%= article.length %> recettes </p>
        <% for( const a of articles ) { %>
            <article>
                <h3>
                    <%= article.title %>
                </h3>
                    <img src="<%= article.url_image %>" alt="<%= article.title_image %>">
                    <a href="./recipes/?:id">Lire la suite</a>
                    <aside>
                        <p>Author(s) : <%=  user.alias %>, date :  <%=  user.date %></p>
                    </aside>
    
            </article>            
            <% } %>
            
        </section>

        <aside>
            <section>
                <h4>Catégories</h4>
                <ul>
                    <% for( const category of categories ) { %>
                    <li>: <%= category.title %></li>
                    <% } %>
                </ul>

            </section>
        </aside>
