<main>
    <article>
                <h2>
                    <%= recipe.title %>
                </h2>
                    <img src="<%= recipe.url %>" alt="<%= recipe.pictureTitle %>">
                    <p><%= recipe.content %>
                    </p>
                    <aside>
                        <p>Par la plume de <%= recipe.alias %>, écrit le <%= recipe.date.toLocaleDateString() %></p>
                    </aside>
    
            </article>            
            
            <form action="/comments/post/<%=recipe.id%>" method="post">
                <fieldset>
                    <input type="text" name="alias" id="alias" placeholder="Entrez votre alias">
                    <input type="mail" name="mail" id="mail" placeholder="Entrez votre mail">
                    <textarea name="message" id="message" cols="70" rows="10"></textarea>
                    <input type="submit" value="Poster">
                </fieldset>
            </form>
        </section>


        <aside class="comments">
            <ul>
                <% for( const comment of comments) { %>
                <li>
                    <section id="comment-<%= comment.id %>">
                        <h5><%= comment.alias %></h5>
                        <p><%= comment.date.toLocaleString() %></p>
                        <p><%= comment.message %></p>
                    </section>
                </li>
                    <% } %>
        
            </ul>
        </aside>

        <%- include("asideCategory") %>

</main>