<main>
    <article>
                <h2>
                    <%= recipe.title %>
                </h2>
                    <% for( const image of images) { %>
                        <figure>
                            <img src="<%= image.url %>" alt="<%= image.title %>"><br>
                            
                        </figure>
                        <% } %>
                    <p><%= recipe.content %>
                    </p>
                    <aside>
                        <p>Par la plume de <%= recipe.alias %>, écrit le <%= recipe.date.toLocaleDateString() %></p>
                    </aside>
    
            </article>            
            
            <form id="commentForm" action="/comments/post/<%=recipe.id%>" method="post">
                <fieldset>
                    <input type="text" name="post_author" id="post_author" placeholder="Entrez votre alias">
                    <textarea name="message" id="message" cols="70" rows="10"></textarea>
                    <input type="submit" value="Poster">
                </fieldset>
            </form>
        </section>


        <aside class="comments">
            <ul>
                <% for( const comment of comments) { %>
                <li>
                    <section id="comment-<%= comment.id %>">
                        <h5><%= comment.post_author %></h5>
                        <p><%= comment.date.toLocaleString() %></p>
                        <p><%= comment.message %></p>
                    </section>
                </li>
                    <% } %>
        
            </ul>
        </aside>

        <%- include("asideCategory") %>

</main>