<main>
    <article>
                <h2>
                    <%= article[0].title %>
                </h2>
                    <img src="<%= article.url %>" alt="<%= article.pictureTitle %>">
                    <p><%= article.content %>
                    </p>
                    <aside>
                        <p>Par la plume de <%#= user.alias %>, écrit le <%= article.date %>/p>
                    </aside>
    
            </article>            
            
            <form action="" method="post">
                <fieldset>
                    <input type="text" name="alias" id="alias" placeholder="Entrez votre alias">
                    <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe">
                    <textarea name="comment" id="comment" cols="70" rows="10"></textarea>
                    <input type="submit" value="Poster">
                    <!-- condition ternaire sur le bouton -->
                </fieldset>
            </form>
        </section>

        <!-- <aside>
            <section>
                <h3>Catégories</h3>
                <ul>
                    <%# for( const category of categories ) { %>
                    <li>: <%#= category.title %></li>
                    <%# } %>
                </ul>

            </section>
        </aside> -->
</main>